{% load bootstrap3 staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered table-hover">
            <caption>Post List</caption>
            <thead>
                <tr>
                 <th>title</th>
                    <th>created at</th>
                 </tr>
             </thead>
            <tbody>
            {% for post in post_list %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.updated_at }}</td>
                 </tr>
             {% endfor %}
     </tbody>
</table>

        </div>
    </div>
</div>

<div class="text-center">
    {% bootstrap_pagination page_obj %}
</div>