{% extends "blog/layout.html" %}

{% block content %}
    <form action="" method="get">
    <input type="text" name="q" value="{{ q }}"/>
    <input type="submit" value="검색"/>
</form>

<ul>
{% for post in post_list %}
    <li>
        {{ post.id }}
        <a href ="{% url "post_detail" post.id %}">
            {{ post.title }}
        </a>
        <small>by {{ post.author }}</small>
        <small>at {{ post.updated_at }} </small>
    </li>
{% endfor %}
</ul>

<ul>
    <li>http://www.13.124.86.222:8000/blog/ 로 접속해보세요.</li>
</ul>
{%  endblock %}