{%  extends "blog/layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
<h2>{{ post.title }}</h2>

    {{ post.content|linebreaks }}

<hr/>
<h3>Comment</h3>
<ul>
    <li>
    {% for comment in post.comment_set.all %}
        {{ comment.message }}
        <small>by {{ comment.author }}</small>
        <small>at {{ comment.updated_at }}</small>
    </li>
    {% endfor %}
</ul>
    <hr/>
    <a href="{% url "post_list" %}">글 목록</a>
{% endblock %}